# Kaggle - TMDB

### Extract tables - production_companies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import math

In [2]:
MILLION = 1000000

In [3]:
train = pd.read_csv('train.csv')

### production_companies

In [4]:
train['production_companies'].fillna('[]').map(lambda x: len(ast.literal_eval(x))).value_counts()

1     775
2     734
3     582
4     312
5     166
0     156
6     118
7      62
8      42
9      29
11      7
10      7
12      3
16      2
15      2
14      1
13      1
17      1
Name: production_companies, dtype: int64

In [20]:
train['prod'] = train['production_companies'].fillna('[{"id":-123}]').map(lambda x: [i['id'] for i in (ast.literal_eval(x))])

In [21]:
productions = []
for p in train[train['production_companies'].notnull()]['production_companies'].map(lambda x: [(i['id'],i['name']) for i in (ast.literal_eval(x))]).values:
    productions.extend(p)

prod_id = [p[0] for p in productions]
prod_name = [p[1] for p in productions]

productions,counts = np.unique(np.array(prod_id),return_counts=True)

prod_names = {}
for i in range(len(prod_id)):
    prod_names[prod_id[i]] = prod_name[i]

In [22]:
for i in range(20):
    print(i,len([prod_names[p] for p in productions[counts==i]]))
print('>20',len([prod_names[p] for p in productions[counts>50]]))

0 0
1 2678
2 505
3 188
4 105
5 60
6 38
7 28
8 18
9 16
10 8
11 9
12 4
13 4
14 4
15 2
16 4
17 1
18 3
19 2
>20 11

Try only productions that have at least 5 movies

In [37]:
revenues = {}
for i in prod_names.keys():
    if (counts[productions==i]>5):
        revenues[i] = train[train['prod'].map(lambda x: True if i in x else False)]['revenue'].map(math.log).mean()

In [41]:
revenues

{4: 17.381079061980937,
 60: 17.000036930747143,
 8411: 16.413752160032484,
 2: 18.857807128309688,
 3172: 18.064468560641856,
 97: 17.37482457838468,
 306: 17.662572621798066,
 10201: 17.31646346120715,
 27: 18.480664455113253,
 215: 16.890685472749276,
 216: 17.58664945475536,
 56: 18.579960510083907,
 6363: 16.840137128242116,
 288: 15.45742696753967,
 2452: 16.689118611850255,
 3823: 17.686016241423342,
 5358: 15.685160602050402,
 6896: 17.100827639075387,
 12: 17.90916624265092,
 33: 17.69511779837755,
 552: 16.63077061231688,
 9: 15.984250889393502,
 6301: 17.747526527292003,
 5870: 16.173375127711036,
 6916: 13.25406166330179,
 7025: 14.441710289819904,
 491: 17.318067347756102,
 7437: 15.582464378113974,
 6194: 17.528503145345162,
 441: 16.870350274797268,
 126: 16.54091571502828,
 12026: 18.15296692336638,
 9383: 19.853968763510917,
 11749: 19.691829752138194,
 308: 16.587559287758072,
 559: 16.675636728961102,
 5: 18.050588153838948,
 915: 16.700645164769917,
 1382: 17.175570861874327,
 7576: 19.290338537886505,
 11345: 18.237274957913055,
 507: 19.04758817864394,
 846: 15.457760427084,
 11509: 16.15520853705459,
 316: 17.07991071122813,
 23: 17.89256250767508,
 9195: 17.412895493326307,
 41: 16.542875643877128,
 763: 16.6418983400906,
 1171: 17.19678361072175,
 7383: 18.383018437122356,
 2521: 15.54059835688191,
 104: 17.913621411545424,
 508: 17.88247520269542,
 14: 16.69841964716552,
 83: 15.426007174774021,
 10221: 18.627443220871797,
 2268: 14.203937477987973,
 7281: 13.405041680866502,
 5490: 17.30285733544895,
 4564: 16.655393643978464,
 497: 17.681595470610013,
 11: 19.692471585752934,
 1885: 17.868017825469227,
 43: 16.83819573029464,
 6332: 18.222915123291674,
 694: 16.297107379978605,
 923: 19.438833301253954,
 431: 19.222870317015538,
 9168: 19.70669108431283,
 19551: 18.217596971696103,
 1422: 13.953438977356674,
 1403: 16.307848235472093,
 10210: 17.02045828259561,
 79: 18.124233495433643,
 1786: 17.73818169099168,
 3287: 17.655956380435278,
 333: 18.7637724034138,
 2608: 18.440167551015282,
 3: 20.026745054056352,
 1632: 17.220928712921637,
 7405: 17.056423336922116,
 1088: 14.788027834578422,
 11317: 17.458865923693637,
 1444: 16.374969988520007,
 444: 18.378900442032425,
 10104: 17.66394217139033,
 7076: 18.4413958914936,
 7295: 18.138416380339727,
 10254: 16.83660752724011,
 14723: 17.17413815389762,
 10163: 17.756267916871344,
 831: 17.63477800304627,
 925: 16.252411097978026,
 264: 18.57286708647499,
 9349: 15.983394404511305,
 81: 17.150711951444517,
 711: 18.089783004709385,
 2683: 16.07143656603722,
 5755: 18.824623396363094,
 172: 18.110403361370828,
 6452: 18.88603922453946,
 10105: 18.431394723325873,
 10405: 15.92823952974635,
 181: 15.591311770157612,
 158: 18.075588025670122,
 10282: 17.399600357226657,
 13549: 15.97862021641397,
 4171: 17.92924043001286,
 562: 18.05790682340461,
 171: 16.340953330937513,
 10039: 17.19447211107155,
 1302: 17.914278361890357,
 258: 17.168505381195338,
 435: 19.309015026436338,
 1755: 14.223595100470158,
 6735: 16.144794102098174,
 248: 18.489326406991374,
 729: 15.262557744582077,
 10611: 14.171494147229266,
 675: 17.750092169575314,
 2320: 15.763203689455963,
 10146: 16.365527938592294,
 436: 19.062800867302027,
 9335: 16.036348386340833,
 9996: 18.481166472622565,
 13184: 17.72874716756966,
 41077: 14.92696598396844,
 289: 17.935237946797724,
 826: 14.74811173184512,
 10339: 16.01829178301927,
 347: 17.84772681036331,
 54502: 17.61177179128028,
 2481: 18.86346367210609,
 1645: 18.01266017200943,
 10932: 15.515802680259807,
 11391: 17.03804484868944,
 7294: 15.344590987811655,
 2188: 15.773406776502352,
 9993: 18.82627162477325,
 1: 18.505104083898473,
 34034: 18.574256711616346,
 737: 15.012030124675947,
 3281: 18.818672159832413,
 53009: 16.78587490504562,
 6: 14.0982877656809,
 856: 14.648571172350625,
 58: 15.410686338726947,
 6736: 16.213145593840352,
 1216: 14.975473592829537,
 521: 19.6560775530269,
 932: 16.1637489728669,
 70: 16.736767456184555,
 429: 18.75403339005886,
 7493: 15.552050001330938,
 174: 17.54436674963235,
 35: 16.26084123678452,
 829: 17.96633051004992,
 5219: 19.397468494619,
 3929: 17.824223860433392,
 7263: 16.904457168067058,
 8: 15.194578460196032,
 10893: 18.845693016650063,
 3045: 18.685792400344354,
 22213: 19.19285152895439,
 1268: 15.230217497260556,
 1504: 16.999427874137787,
 10308: 17.3347800125005,
 130: 19.983681919091627,
 420: 18.74348345404558,
 76043: 19.72684204904842,
 7981: 16.490920761849093,
 2527: 17.09925429614774,
 746: 18.19052092510401,
 13: 16.94757936690518,
 134: 17.355976745659564}

In [44]:
paol = pd.Series(revenues).to_frame()

In [45]:
paol.columns = ['revenue']
paol.head()

        revenue
4     17.381079
60    17.000037
8411  16.413752
2     18.857807
3172  18.064469

In [46]:
paol['counts'] = paol.index.map(dict(zip(productions,counts)))
paol.head()

        revenue  counts
4     17.381079     161
60    17.000037      44
8411  16.413752      84
2     18.857807      62
3172  18.064469      18

In [47]:
paol['name'] = paol.index.map(prod_names)
paol.head()

        revenue  counts                       name
4     17.381079     161         Paramount Pictures
60    17.000037      44             United Artists
8411  16.413752      84  Metro-Goldwyn-Mayer (MGM)
2     18.857807      62       Walt Disney Pictures
3172  18.064469      18      Blumhouse Productions

In [48]:
paol.to_csv('production_companies_short.csv')