# Kaggle - TMDB

### Extract tables

**Here I will extract data from some of the fields in the raw data (e.g. average revenue by actor) and store it in `.csv` files**

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ast

In [2]:
MILLION = 1000000

In [3]:
train = pd.read_csv('train.csv')

In [5]:
train.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

### belong_to_collection

In [26]:
train[train['belongs_to_collection'].notna()]['belongs_to_collection'].map(lambda x: len(ast.literal_eval(x))).unique()

array([1])

All lists have 1 element

In [29]:
dicts = train[train['belongs_to_collection'].notna()]['belongs_to_collection'].map(
    lambda x: ast.literal_eval(x)[0]).values

In [31]:
dicts[0]

{'id': 313576,
 'name': 'Hot Tub Time Machine Collection',
 'poster_path': '/iEhb00TGPucF0b4joM1ieyY026U.jpg',
 'backdrop_path': '/noeTVcgpBiD48fDjFVic1Vz7ope.jpg'}

In [34]:
# get all collections
collections = [d['id'] for d in dicts]

In [39]:
uniq,counts = np.unique(np.array(collections),return_counts=True)

In [40]:
counts

array([ 2,  3,  2,  3,  2,  3,  2,  3,  1,  1,  2,  2,  1,  2,  1, 16,  2,
        1,  2,  6,  1,  2,  1,  4,  2,  3,  2,  1,  3,  2,  1,  2,  1,  1,
        2,  2,  1,  1,  2,  3,  1,  3,  4,  1,  2,  4,  4,  2,  1,  4,  2,
        2,  1,  2,  1,  1,  5,  1,  4,  2,  1,  3,  7,  1,  1,  2,  1,  1,
        4,  2,  1,  1,  1,  1,  2,  1,  1,  1,  2,  1,  2,  1,  1,  1,  4,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  2,  2,  5,  1,
        4,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  3,  1,  1,  1,  1,  1,
        2,  2,  2,  1,  2,  1,  2,  2,  1,  1,  2,  1,  3,  1,  1,  1,  2,
        3,  1,  1,  2,  1,  1,  2,  1,  1,  1,  1,  1,  1,  3,  1,  2,  1,
        1,  1,  1,  1,  2,  1,  3,  3,  1,  1,  1,  1,  1,  1,  1,  1,  2,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,
        1,  1,  1,  1,  2,  1,  2,  2,  1,  2,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  2,  1,  2,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,
        1,  1,  2,  2,  1,  1,  1,  1,  2,  2,  2,  3,  1,  1,  1,  1,  2,
        2,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  2,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  3,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  3,  1,  1,  1,  1,  1,  1,
        2,  2,  2,  1,  1,  1,  2,  1,  1,  1,  2,  1,  1,  1,  1,  2,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  1,  1,  1,  2,  1,
        1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,
        1,  1,  1,  2,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,
        1,  1,  2,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  2,  1,  2,  1,  2,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  3,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1])

In [43]:
counts[9], uniq[9]

(1, 328)

In [44]:
[d for d in dicts if d['id']==328]

[{'id': 328,
  'name': 'Jurassic Park Collection',
  'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg',
  'backdrop_path': '/pJjIH9QN0OkHFV9eue6XfRVnPkr.jpg'}]

Some collections seem to only have 1 item in them. Perhaps the other items are in the test set?

In [45]:
test = pd.read_csv('test.csv')

In [62]:
test[test['belongs_to_collection'].fillna('[{"id":-1}]').map(lambda x: (ast.literal_eval(x))[0]['id'])==328]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
883,3884,"[{'id': 328, 'name': 'Jurassic Park Collection...",73000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,tt0119567,en,The Lost World: Jurassic Park,Four years after Jurassic Park's genetically b...,0.788123,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Something has survived.,The Lost World: Jurassic Park,"[{'id': 911, 'name': 'exotic island'}, {'id': ...","[{'cast_id': 1, 'character': 'Dr. Ian Malcolm'...","[{'credit_id': '52fe4238c3a36847f800d3ad', 'de..."
1934,4935,"[{'id': 328, 'name': 'Jurassic Park Collection...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.jurassicworld.com/,tt0369610,en,Jurassic World,Twenty-two years after the events of Jurassic ...,32.790475,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",6/9/15,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The park is open.,Jurassic World,"[{'id': 1299, 'name': 'monster'}, {'id': 1718,...",NaN,NaN
4213,7214,"[{'id': 328, 'name': 'Jurassic Park Collection...",93000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,tt0163025,en,Jurassic Park III,"In need of funds for research, Dr. Alan Grant ...",0.648867,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",7/18/01,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"This time, it's not just a walk in the park!",Jurassic Park III,"[{'id': 911, 'name': 'exotic island'}, {'id': ...","[{'cast_id': 1, 'character': 'Dr. Alan Grant',...","[{'credit_id': '52fe4238c3a36847f800d479', 'de..."

Indeed

**I will include collections with only 1 item as well**

In [63]:
# get all revenues for each collection

In [65]:
revenues = []
for collection in uniq:
    # select all movies from this collections
    revenues.append(train[train['belongs_to_collection'].fillna('[{"id":-1}]').map(
        lambda x: (ast.literal_eval(x))[0]['id'])==collection]['revenue'].mean())

check one at random to make sure it was correctly computed

In [67]:
revenues

[749699164.0,
 531269279.6666667,
 898827882.0,
 96733333.33333333,
 190916236.5,
 821238738.6666666,
 288263791.5,
 887241675.3333334,
 311312624.0,
 920100000.0,
 91684565.5,
 584229185.0,
 107196498.0,
 256685600.0,
 192452832.0,
 302243560.6875,
 120031051.5,
 128905366.0,
 433535552.0,
 20264829.0,
 120207127.0,
 905323839.5,
 82719885.0,
 176840916.25,
 196344294.0,
 12514771.0,
 17661522.0,
 38610009.0,
 203507356.0,
 67272030.0,
 161834276.0,
 261518299.5,
 180949000.0,
 215394738.0,
 35431358.5,
 159801464.5,
 294456605.0,
 25800.0,
 82794123.0,
 165873064.33333334,
 40400657.0,
 13579416.666666666,
 181968309.25,
 242688965.0,
 26178170.0,
 152505450.25,
 584865942.75,
 290769949.0,
 115103979.0,
 818674036.75,
 104072781.5,
 14604980.5,
 211952420.0,
 201729586.0,
 153698625.0,
 239606210.0,
 31663618.8,
 254134910.0,
 558791460.5,
 64548285.5,
 296000000.0,
 41877315.666666664,
 41211249.85714286,
 351692268.0,
 330579719.0,
 66269831.5,
 373554033.0,
 40996665.0,
 37798098.5,
 53705346.5,
 30399676.0,
 121214377.0,
 875386.0,
 25480490.0,
 37280960.0,
 20471382.0,
 25836616.0,
 66002004.0,
 259653365.5,
 1702394.0,
 122266214.0,
 373552094.0,
 141407024.0,
 72778712.0,
 238903706.75,
 44352417.0,
 32710894.0,
 2260622.0,
 68369434.0,
 5900000.0,
 2287714.0,
 2616503.0,
 66995253.0,
 30199105.0,
 43493123.0,
 282536577.5,
 21134374.0,
 222300000.0,
 704159404.5,
 73744575.5,
 65022984.6,
 11806119.0,
 157059995.5,
 100000000.0,
 32709423.0,
 164508066.0,
 351583407.0,
 6086508.0,
 28215918.0,
 8900000.0,
 91000000.0,
 138259062.0,
 48878502.0,
 13253919.666666666,
 7282851.0,
 22642033.0,
 415252786.0,
 330444045.0,
 96060858.0,
 55550978.5,
 89298045.0,
 402407531.0,
 84500122.0,
 98633666.5,
 100491683.0,
 30830480.0,
 216531381.5,
 248000000.0,
 34560577.0,
 89366675.5,
 58662452.0,
 16369226.666666666,
 9584131.0,
 124914842.0,
 213954274.0,
 132505773.5,
 63216571.333333336,
 73762516.0,
 160583018.0,
 410635345.5,
 118063304.0,
 85313124.0,
 1462480802.0,
 352927224.0,
 147934180.0,
 10.0,
 301000000.0,
 181466833.0,
 93375151.0,
 457335200.6666667,
 30471.0,
 96435027.0,
 192816.0,
 694713380.0,
 1461989.0,
 78247647.0,
 609123048.0,
 97282654.5,
 149217355.0,
 283244966.3333333,
 22358622.0,
 58795814.0,
 20158808.0,
 95226116.0,
 40485039.0,
 48572000.0,
 10499694.0,
 384335608.0,
 212000000.0,
 116193741.0,
 8690429.0,
 788241776.0,
 59217789.0,
 238073.0,
 41627431.0,
 121059225.0,
 20000000.0,
 76578911.0,
 67192859.0,
 2405420.0,
 10224116.0,
 135680000.0,
 93600000.0,
 26684795.5,
 91753202.0,
 129042871.0,
 4469460.0,
 82150642.0,
 186053725.0,
 3833507.0,
 72179579.0,
 29012200.0,
 229736344.0,
 66263716.0,
 47381924.0,
 39846344.0,
 7973858.5,
 16829545.0,
 14056528.0,
 8262833.0,
 448000000.0,
 10198357.0,
 2294357.0,
 9816332.0,
 91038276.0,
 55635037.0,
 130242294.0,
 21028755.0,
 42882490.5,
 32222567.0,
 125728258.0,
 300257475.0,
 4905000.0,
 176885658.0,
 27610873.0,
 2975730.0,
 5010362.0,
 14051384.0,
 5600000.0,
 14000000.0,
 120000000.0,
 220021259.0,
 33000337.0,
 46261032.5,
 36078000.0,
 14048372.0,
 165333180.0,
 11348324.0,
 13818181.0,
 24603303.0,
 259103561.0,
 989751784.0,
 8069669.333333333,
 4314688.0,
 3956913.0,
 3000000.0,
 2683519.0,
 454706.5,
 13584542.0,
 40855419.0,
 29907685.0,
 52604.0,
 173000000.0,
 15014674.0,
 3752426.0,
 337580051.0,
 240321469.0,
 6698361.0,
 714766572.0,
 653428261.0,
 77425747.5,
 102367405.0,
 347434178.0,
 158733820.0,
 403170142.0,
 90614445.0,
 346079773.0,
 1028570889.0,
 1519796.0,
 19776159.0,
 30471420.0,
 65353222.0,
 21133087.0,
 5022651.0,
 2970.0,
 83061158.0,
 10442808.0,
 41158757.0,
 536364.0,
 3867000.0,
 2459895.0,
 8910819.0,
 22165608.0,
 36642838.0,
 11466088.0,
 2737039.5,
 233755553.0,
 85.0,
 168180.0,
 147214049.0,
 101646581.0,
 14681192.0,
 775474.6666666666,
 369907963.0,
 32155047.0,
 75781642.0,
 15179302.0,
 4100000.0,
 40940662.0,
 78444451.5,
 200537980.0,
 15019753.0,
 3554460.0,
 473226958.0,
 8927600.0,
 114300347.0,
 117270765.0,
 30553394.0,
 53447.0,
 61089.0,
 7171.0,
 662845518.0,
 31327899.0,
 41162041.0,
 63111686.0,
 79.0,
 188441614.0,
 48720000.0,
 223664608.0,
 572809.0,
 116643346.0,
 1300000.0,
 1012189.0,
 17280326.0,
 44527234.0,
 112462508.0,
 62005534.0,
 91315632.5,
 500188435.0,
 24922237.0,
 100076342.0,
 13812550.0,
 36000000.0,
 39300000.0,
 61700000.0,
 40846082.0,
 120680.0,
 108782847.0,
 55492195.5,
 2627209.0,
 18315000.0,
 1025491110.0,
 33395426.0,
 71904.0,
 6500000.0,
 383195451.5,
 25000000.0,
 21890845.0,
 151165787.0,
 4000000.0,
 80547866.0,
 51070807.0,
 112892319.0,
 818372385.0,
 96889998.0,
 1011067.5,
 66000000.0,
 7900000.0,
 25034000.0,
 95404397.0,
 311256926.0,
 115350426.0,
 129832389.0,
 57059003.0,
 8135031.0,
 319085074.5,
 12314651.0,
 10676194.0,
 20300000.0,
 1132261.0,
 145445186.5,
 6347072.0,
 9700000.0,
 83027924.0,
 5873871.0,
 59468275.0,
 52882018.0,
 2608000.0,
 36000000.0,
 28900000.0,
 3.0,
 13168027.0,
 4100000.0,
 124827316.0,
 8176544.0,
 163000.0,
 7338987.0,
 10.0,
 117698894.0,
 183390043.5,
 17277.0,
 29946991.0,
 96618699.0,
 228833647.5,
 99965753.0,
 34153101.0,
 396003.0,
 108047131.0,
 245623848.0,
 255273813.0,
 218340595.0,
 171539887.0,
 471222889.0,
 37799643.0,
 23507567.0,
 35348597.0,
 531865000.0,
 340312.0,
 47000000.0,
 16491080.0,
 81705746.0,
 12000000.0,
 149044513.0,
 70067909.0,
 230884728.0,
 8349430.0,
 985007.0,
 783112979.0,
 18492362.0,
 468435115.0,
 17137302.0,
 33053559.0,
 29007412.0,
 631442092.0,
 820580447.0,
 1622164.0,
 80000000.0,
 33245.0,
 5844868.0,
 5069456.5,
 6483963.0,
 28128670.0]

In [75]:
uniq[0], uniq[77],uniq[-1]

(10, 12087, 479888)

In [76]:
train[train['belongs_to_collection'].fillna('[{"id":-1}]').map(
        lambda x: (ast.literal_eval(x))[0]['id'])==10]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
689,690,"[{'id': 10, 'name': 'Star Wars Collection', 'p...",113000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.starwars.com/films/star-wars-episod...,tt0121766,en,Star Wars: Episode III - Revenge of the Sith,"Years after the onset of the Clone Wars, the n...",13.165421,...,5/17/05,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The saga is complete.,Star Wars: Episode III - Revenge of the Sith,"[{'id': 797, 'name': 'showdown'}, {'id': 10013...","[{'cast_id': 13, 'character': 'Obi-Wan Kenobi'...","[{'credit_id': '52fe431fc3a36847f803bea3', 'de...",850000000
1818,1819,"[{'id': 10, 'name': 'Star Wars Collection', 'p...",120000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,tt0121765,en,Star Wars: Episode II - Attack of the Clones,"Ten years after the invasion of Naboo, the gal...",14.072511,...,5/15/02,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,Star Wars: Episode II - Attack of the Clones,"[{'id': 1399, 'name': 'senate'}, {'id': 5340, ...","[{'cast_id': 7, 'character': 'Obi Wan Kenobi',...","[{'credit_id': '52fe431fc3a36847f803bd8b', 'de...",649398328

In [80]:
(850000000 + 649398328)/2 / MILLION

749.699164

In [81]:
revenues[0] / MILLION

749.699164

In [79]:
train[train['belongs_to_collection'].fillna('[{"id":-1}]').map(
        lambda x: (ast.literal_eval(x))[0]['id'])==12087]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
1862,1863,"[{'id': 12087, 'name': 'Herbie Collection', 'p...",50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,tt0400497,en,Herbie Fully Loaded,"Maggie Peyton, the new owner of Number 53 - th...",9.35239,...,6/22/05,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Start your engines...,Herbie Fully Loaded,"[{'id': 830, 'name': 'car race'}, {'id': 6067,...","[{'cast_id': 1, 'character': 'Maggie Peyton', ...","[{'credit_id': '59620742925141790403a4fe', 'de...",66002004

In [82]:
revenues[77]

66002004.0

In [83]:
train[train['belongs_to_collection'].fillna('[{"id":-1}]').map(
        lambda x: (ast.literal_eval(x))[0]['id'])==479888]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2891,2892,"[{'id': 479888, 'name': 'The Thing Collection'...",35000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",http://www.uphe.com/movies/the-thing-2011,tt0905372,en,The Thing,When paleontologist Kate Lloyd travels to an i...,10.169411,...,10/12/11,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,It's Not Human. Yet.,The Thing,"[{'id': 2340, 'name': 'paranoia'}, {'id': 4713...","[{'cast_id': 2, 'character': 'Kate Lloyd', 'cr...","[{'credit_id': '537b713fc3a3682d3c00000e', 'de...",28128670

In [84]:
revenues[-1]

28128670.0

In [120]:
pd.DataFrame(revenues,index=uniq,columns=['average_revenue'],dtype=int).to_csv('collections.csv')